.about {
  min-width: 320px;

  color: $color--light;

  background-color: $background-color--darken;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about__container {
  padding: 25px;
  padding-bottom: 60px;
  padding-right: 45px;
  margin-bottom: 45px;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about__container {
    padding-left: 75px;
    padding-right: 368px;
  }

  .about__button {
    display: block;
    width: 274px;
  }
}

@media (min-width: $desktop-width) {
  .about__container {
    padding-left: 112px;
    padding-right: 645px;
  }
}
