.blockquote {
  width: 155px;
  padding: 0;
  padding-left: 25px;
  margin: 0;
}

.blockquote__content {
  margin: 0;
  margin-bottom: 25px;
}

.blockquote__author {
  font-weight: 700;
  font-style: normal;
}
