.blockquote {
  width: 155px;
  padding: 0;
  margin: 0;
}

.blockquote__content {
  margin: 0;
  margin-bottom: 18px;
}

.blockquote__author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .blockquote {
    width: 265px;
  }

  .blockquote__content {
    margin-bottom: 38px;
  }

  .blockquote__author {
    font-size: 21px;
    line-height: 25px;
  }
}
