.business-prices {
  padding-top: 33px;

  overflow: hidden;
}

.business-prices__container {
  width: 220px;
  padding: 0 25px;
}

.business-prices__title {
  margin-bottom: 29px;
}

.business-prices__list {
  margin-bottom: 33px;

  &::after {
    left: 0;
  }
}

.business-prices__close {
  display: block;
  width: 100%;
  padding: 20px 23px 14px;

  line-height: 24px;
  color: $color--dark;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;

  background-color: #f3f4f8;
  border: none;

  &:hover,
  &:focus {
    background-color: $background-color;
  }

  &:active {
    color: rgba($color--dark, 0.3);

    background-color: $background-color;
  }
}

@media (min-width: $tablet-width) {
  .business-prices {
    padding-top: 52px;
  }

  .business-prices__container {
    padding: 0 92px;
    width: 506px;
  }

  .business-prices__title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 47px;

    text-align: center;
  }

  .business-prices__list {
    padding-top: 0;
    margin-bottom: 51px;

    font-size: 22px;
    line-height: 28px;

    &::before {
      display: none;
    }

    &::after {
      width: 506px;
    }
  }

  .business-prices__close {
    padding: 43px 23px 41px;

    font-size: 24px;
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .business-prices__container {
    padding: 0 60px;
    width: 630px;
  }

  .business-prices__list {
    width: 630px;

    &::after {
      width: 630px;
    }
  }
}
