.business-prices {
  padding-top: 33px;

  overflow: hidden;
}

.business-prices__container {
  width: 220px;
  padding: 0 25px;
}

.business-prices__close {
  display: block;
  width: 100%;
  padding: 20px 23px 14px;

  line-height: 24px;
  color: $color--dark;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;

  background-color: #f3f4f8;
  border: none;

  &:hover,
  &:focus {
    background-color: $background-color;
  }

  &:active {
    color: rgba($color--dark, 0.3);

    background-color: $background-color;
  }
}
