.companions {
  min-width: 320px;
}

.companions__list {
  @include reset-list;
  margin-bottom: 24px;
}

.companions__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.companions__pagination {
  margin-bottom: 46px;
}

@media (min-width: $desktop-width) {
  .companions__container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 85px;
    width: 950px;
  }
}
