.contacts {
  &--icons {
    display: flex;
  }
}

.contacts__link {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 11px;

  color: $link-color--darken;
  font-weight: $font-bold;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: -1;

    width: 45px;
    height: 45px;
    box-sizing: border-box;

    background-color: #121936;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    color: rgba($link-color--darken, 0.6);
  }

  &:active {
    color: rgba($link-color--darken, 0.3);
  }
}

.contacts__svg {
  width: 18px;
  height: 22px;

  padding-left: 14px;
  padding-right: 13px;
  margin-right: 16px;

  fill: $gold;

  &--changing {
    display: none;
  }
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: $mango-lighten;
}

.contacts__link:active .contacts__svg {
  fill: $mango-lighten;
  opacity: 0.3;
}

.contacts__link--mango::before {
  background-color: $mango;
}

.contacts__link--mango:hover::before,
.contacts__link--mango:focus::before,
.contacts__link--mango:active::before {
  background-color: #f26926;
}

.contacts__link--orange::before {
  background-color: $mango-lighten;
}

.contacts__link--orange:hover::before,
.contacts__link--orange:focus::before,
.contacts__link--orange:active::before {
  background-color: $mango;
}

.contacts__link--mango .contacts__svg,
.contacts__link--orange .contacts__svg {
  fill: $blue-dark;
}

.contacts__link--mango:hover .contacts__svg,
.contacts__link--mango:focus .contacts__svg,
.contacts__link--orange:hover .contacts__svg,
.contacts__link--orange:focus .contacts__svg {
  fill: $blue-dark;
}

.contacts__link--mango:active .contacts__svg,
.contacts__link--orange:active .contacts__svg {
  fill: $blue-dark;
  opacity: 0.3;
}

.contacts--icons .contacts__link {
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;

  &::before {
    top: 0;
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
}

.contacts--icons .contacts__svg {
  margin: 0;
  padding: 0;
}

.contacts__discription {
  text-align: center;
  margin-bottom: 18px;
}

.contacts--theme-dark .contacts__links {
  position: relative;
  z-index: 2;
  padding-bottom: 28px;
  margin-bottom: -30px;

  background-color: $background-color--darken;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contacts--theme-dark .contacts__link {
  color: $link-color--light;
  width: 250px;

  &:hover,
  &:focus {
    color: $link-color--light-hover;
  }

  &:active {
    color: $link-color--light-active;
  }
}

.contacts__link--tel .contacts__svg {
  margin-top: -2px;
}

.contacts__direction {
  padding-top: 64px;
  padding-bottom: 35px;

  background-color: $background-color--gold;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contacts__address {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 31px;

  color: $color--darkest;
  font-weight: $font-bold;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    z-index: -1;

    width: 45px;
    height: 45px;
    box-sizing: border-box;

    background-color: #121936;
    border-radius: 50%;
  }
}

.contacts__address-text {
  width: 150px;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .contacts--theme-dark .contacts__links {
    padding-bottom: 59px;
    margin-bottom: -60px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .contacts__discription {
    padding-right: 0;
    margin: 0;
    margin-bottom: 43px;
    max-width: 100%;
    width: 100%;
  }

  .contacts__link {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 67px;
      height: 67px;
    }
  }

  .contacts__link--tel {
    &::before {
      top: -6px;
    }
  }

  .contacts__link--tel .contacts__svg {
    margin-top: -7px;
  }

  .contacts__link--email {
    &::before {
      top: -1px;
    }
  }

  .contacts--theme-dark .contacts__link {
    width: 430px;
  }

  .contacts__svg {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 24px;

    width: 27px;
    height: 31px;

    &--address {
      margin-top: -4px;
    }
  }

  .contacts__direction {
    padding-top: 110px;
    padding-bottom: 85px;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .contacts__address {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 40px;

    &::before {
      top: -3px;

      width: 67px;
      height: 67px;
    }
  }

  .contacts__address-text {
    margin-left: 2px;
    width: 432px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__link {
    padding-top: 24px;
    padding-bottom: 23px;

    &::before {
      width: 90px;
      height: 90px;
    }
  }

  .contacts__svg {
    padding-left: 28px;
    padding-right: 26px;
    margin-right: 32px;

    width: 36px;
    height: 43px;

    &--address {
      margin-top: -1px;
      padding-left: 30px;
      margin-right: 30px;
    }
  }

  .contacts__link--tel {
    margin-right: 0;
  }

  .contacts__link--email::before {
    left: 2px;
  }

  .contacts__link--email .contacts__svg {
    position: relative;
    top: -2px;

    padding-left: 31px;
    padding-right: 26px;
  }

  .contacts__link--tel .contacts__svg {
    margin-top: -5px;
  }

  .contacts--changing {
    display: flex;
    justify-content: flex-end;
    width: 156px;
  }

  .contacts--changing .contacts__link {
    justify-content: center;
    padding: 0;
    width: 50px;
    height: 50px;

    &::before {
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      background-color: $mango;
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        background-color: #f26926;
      }
    }

    &--email {
      &::before {
        background-color: $mango-lighten;
      }

      &:hover,
      &:focus,
      &:active {
        &::before {
          background-color: $mango;
        }
      }
    }
  }

  .contacts--changing .contacts__link-text {
    display: none;
  }

  .contacts--changing .contacts__svg {
    display: none;

    &--changing {
      top: 0;

      display: block;
      padding: 0;
      margin: 0;
      width: 18px;
      height: 18px;

      fill: $blue-dark;
    }
  }

  .contacts__link:hover .contacts__svg--changing,
  .contacts__link:focus .contacts__svg--changing {
    fill: $blue-dark;
  }

  .contacts__link:active .contacts__svg--changing {
    fill: $blue-dark;
    opacity: 0.3;
  }


  .contacts--theme-dark .contacts__links,
  .contacts__direction {
    width: 100%;
  }

  .contacts--theme-dark .contacts__links {
    padding-bottom: 102px;
  }

  .contacts__direction {
    padding-top: 116px;
    padding-bottom: 56px;
  }

  .contacts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-left: 114px;
    padding-right: 114px;
  }

  .contacts__links .contacts__container {
    justify-content: center;
  }

  .contacts__discription {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;

    &--large {
      font-size: 29.5px;
      line-height: 40.5px;
    }
  }

  .contacts--theme-dark .contacts__link {
    width: 437px;
    box-sizing: border-box;
  }

  .contacts__address {
    padding-top: 24px;
    padding-bottom: 23px;
    margin-bottom: 0;
    width: 554px;
    box-sizing: border-box;

    &::before {
      left: 3px;
      width: 90px;
      height: 90px;
    }
  }

  .contacts__map-link {
    width: 324px;
    margin-left: 148px;
  }

  .contacts__address-text {
    width: 438px;
  }
}
