.continents-list {
  @include reset-list;
}

.continents-list__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.continents-list__continent {
  color: rgba($color--darkest, 0.3);
  font-weight: $font-bold;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    color: rgba($color--darkest, 0.6);
  }
}

.continents-list__field:checked + .continents-list__continent {
  color: $color--darkest;

  cursor: default;
}

.continents-list__field:focus + .continents-list__continent {
  outline: 5px auto -webkit-focus-ring-color;
}

@media (min-width: $tablet-width) {
  .continents-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 24px;
  }

  .continents-list__item {
    margin-right: 25px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(4n+2) {
      margin-right: 28px;
    }

    &:nth-child(4n+3) {
      margin-right: 30px;
    }
  }
}
