.container {
  padding: 0 25px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 40px;
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
