.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color--base;
  font-weight: $font-normal;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  display: block;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    justify-content: flex-end;

    font-size: 20px;
    line-height: 24px;
  }

  .copyright__logo {
    margin-left: 24px;
  }
}
