.directions {
  position: relative;
  z-index: 2;

  min-width: 320px;

  background-color: $background-color;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.directions__container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.directions__discription {
  margin-bottom: 60px;
}

.directions__list {
  @include reset-list;
  order: 4;
  margin-bottom: 25px;
}

.directions__item {
  margin-bottom: 10px;

  &:last-child {
    position: relative;
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 91px;
      background: linear-gradient(to bottom, rgba($background-color, 0), $background-color 80%);
    }
  }
}

.directions__button {
  display: block;
  order: 5;
  margin: 0;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .directions__container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .directions__discription {
    width: 340px;
  }
}

@media (min-width: $desktop-width) {
  .directions__container {
    display: block;
    padding-left: 112px;
    padding-right: 112px;
  }

  .directions__title {
    width: 100%;
  }

  .directions__discription {
    padding-right: 100px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .directions__list {
    float: left;
    width: 560px;
    margin-right: 174px;
  }

  .directions__button {
    display: inline-block;
  }
}
