.direction__image {
  display: block;

  overflow: hidden;
}

.direction__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.direction__about {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: -11px;
  padding: 22px 24px;
  padding-top: 27px;

  border-radius: 10px;
  background-color: $background-color--light;
}

.direction__flag {
  position: absolute;
  top: -12px;
  left: 25px;
}

.direction__title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 150px;

  font-size: 21px;
  line-height: 21px;
  color: $link-color--dark;
  font-weight: $font-bold;
}

.direction__link {
  color: inherit;

  &:hover,
  &:focus {
    color: rgba($link-color--dark, 0.6);
  }

  &:active {
    color: rgba($link-color--dark, 0.3);
  }
}

.direction__subtitle {
  margin: 0;
  margin-top: -4px;
  padding: 0;
  padding-left: 1px;
  width: 100%;

  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  font-weight: $font-medium;
}

.direction__users {
  position: relative;

  margin: 0;
  margin-top: -3px;
  margin-left: auto;
  padding: 0;
  padding-left: 19px;

  line-height: 30px;
  color: rgba(68, 68, 68, 0.3);
  font-weight: $font-medium;
  text-align: right;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;

    width: 11px;
    height: 11px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;

    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .direction {
    width: 100%;
    display: flex;
  }

  .direction__image {
    order: 1;
    flex-shrink: 0;
    width: 186px;
  }

  .direction__img {
    width: 186px;

    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .direction__about {
    padding-top: 31px;
    padding-left: 30px;
    padding-bottom: 17px;
    margin-top: 0;
    width: 476px;
    box-sizing: border-box;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .direction__flag {
    top: 16px;
    right: -36px;
    left: auto;
  }

  .direction__title {
    font-size: 24px;
    line-height: 24px;
  }

  .direction__subtitle {
    margin-bottom: 18px;
    margin-top: 0;
    margin-left: -1px;

    font-size: 20px;
  }

  .direction__users {
    order: 1;
    padding-left: 29px;
    width: 100%;

    font-size: 20px;
    text-align: left;

    &::before {
      top: 4px;
      left: -1px;

      width: 21px;
      height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .direction__about {
    padding-top: 24px;
    padding-bottom: 17px;
    padding-left: 31px;
    width: 373px;
  }

  .direction__flag {
    top: 23px;
    right: -35px;
  }

  .direction__subtitle {
    margin-bottom: 25px;
  }

  .direction__users {
    padding-left: 29px;

    &::before {
      top: 4px;
      left: 0;

      width: 20px;
    }
  }
}
