.feature {
  margin: 0;
  padding: 0;

  border: none;
}

.feature__list {
  @include reset-list;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 1;
  font-weight: $font-normal;
}

.feature__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__label {
  padding-top: 2px;
  padding-left: 27px;
  padding-bottom: 1px;
}

@media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
  .feature {
    display: flex;
    align-items: baseline;
  }

  .feature__list {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
}
