.feature {
  margin: 0;
  padding: 0;

  border: none;
}

.feature__list {
  @include reset-list;
  display: block;
  margin-bottom: 19px;
  margin-top: 8px;

  font-size: 15px;
  line-height: 1;
  font-weight: $font-normal;
}

.feature__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__label {
  position: relative;

  display: flex;
  align-items: flex-start;

  padding-top: 0;
  padding-left: 27px;
  padding-bottom: 0;

  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $background-color--light;
    border-radius: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;

    display: none;

    width: 9px;
    height: 9px;

    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    color: rgba($color--base, 0.6);

    &::before {
      opacity: 0.6;
    }
  }
}

.feature__checkbox:checked ~ .feature__label {
  &::after {
    display: block;
  }
}

.feature__checkbox:focus ~ .feature__label {
  color: rgba($color--base, 0.3);
  outline: 5px auto -webkit-focus-ring-color;

  &::before {
    opacity: 0.3;
  }

  &::after {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .feature__label {
    padding-left: 36px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -4px;

      width: 24px;
      height: 24px;
    }

    &::after {
      top: 2px;
      left: 6px;

      width: 12px;
      height: 12px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
  .feature {
    display: flex;
    align-items: flex-start;
  }

  .feature__legend {
    margin-top: -6px;
    margin-left: -1px;
  }

  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 30px;
    width: 493px;
  }

  .feature__item {
    margin-bottom: 0;
    margin-right: 19px;
    width: 150px;

    &:nth-child(3n+2) {
      margin-right: 23px;
    }

    &:last-child {
      margin-right: 0;
      width: 151px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feature__list {
    margin-top: 23px;
    margin-bottom: 28px;
  }

  .feature__item {
    margin-bottom: 20px;
  }
}
