.footer {
  min-width: 320px;

  background-color: $background-color--light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__container {
  padding-top: 39px;
  padding-bottom: 14px;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 38px;
  width: 96px;
}

.footer__socials-list {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 154px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .footer__container {
    padding-top: 48px;
    padding-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    width: 164px;
    margin: 0;
  }

  .footer__socials-list {
    margin-bottom: 0;
  }

  .footer__copyright {
    width: 154px;
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    width: 198px;
  }

  .footer__copyright {
    padding-left: 44px;
  }
}
