.footer {
  position: relative;
  z-index: 2;
  margin-top: -30px;
  min-width: 320px;

  background-color: $background-color--light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__container {
  padding-top: 38px;
  padding-bottom: 25px;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 41px;
}

.footer__socials-list {
  padding-bottom: 38px;
}

.footer__copyright {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 154px;
    &--overlay {
      margin-top: -154px;
    }
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    width: 164px;
    margin: 0;
    margin-bottom: 26px;
  }

  .footer__copyright {
    width: 154px;
    padding-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    width: 198px;
  }

  .footer__copyright {
    padding-left: 44px;
  }
}
