.footer {
  min-width: 320px;

  background-color: $background-color--light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__container {
  padding-top: 38px;
  padding-bottom: 14px;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 37px;
  width: 98px;
}

.footer__socials-list {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 154px;

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .footer__container {
    padding-top: 48px;
    padding-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin: 0;
    margin-top: -2px;
    width: 166px;
  }

  .footer__socials-list {
    margin-bottom: 0;
  }

  .footer__copyright {
    width: 154px;
    padding-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    margin-left: 1px;
    width: 200px;
  }

  .footer__copyright {
    padding-left: 48px;
  }
}
