.header {
  position: relative;

  min-width: 320px;

  background-color: $background-color--dark;

  &--theme-light {
    background-color: $background-color--light;
  }
}

.header__container {
  padding-top: 27px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header--inner .header__container {
  padding-top: 19px;
}

.header--theme-light .header__container {
  padding-top: 27px;
}

.header__menu-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 11px;

  background-color: inherit;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    margin-right: 3px;
    width: 19px;
    height: 19px;
    background-image: url("../img/menu-close.svg");
  }

  &--no-js {
    display: none;
  }
}

.header__user-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    &--index {
      background-color: #182044;
    }

    &--theme-light {
      background-color: $background-color--light;
    }
  }

  .header__container {
    padding-top: 40px;
  }

  .header--inner .header__container {
    padding-top: 40px;
  }

  .header--theme-light .header__container {
    padding-top: 40px;
  }

  .header__menu-toggle {
    margin-left: 23px;
    margin-top: 2px;
    width: 24px;

    &--active {
      margin-right: 0;
      margin-top: 0;
      width: 18px;
      height: 18px;
    }
  }

  .header__user-list {
    display: flex;
    padding-bottom: 0;
    width: 188px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--index {
      background-color: $background-color--dark;
    }

    &--theme-light {
      background-color: $background-color--dark;
    }
  }

  .header__container {
    margin: 0;
    padding-right: 0;
    padding-top: 47px;
    padding-bottom: 0;
    width: 280px;
  }

  .header--inner .header__container {
    padding-top: 47px;
  }

  .header__logo {
    margin-right: 36px;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__user-list {
    display: none;
  }

  .header__nav {
    margin: 0;
  }
}
