.header {
  position: relative;

  min-width: 320px;

  background-color: $background-color--dark;

  &--theme-light {
    background-color: $background-color--light;
  }

  &--fixed {
    position: fixed;
    z-index: 100;

    width: 100%;
    min-width: 320px;

    background-color: $background-color--light;
  }
}

.header__container {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header--inner .header__container {
  padding-top: 19px;
}

.header--fixed .header__container {
  padding-top: 27px;
}

.header--theme-light .header__container {
  padding-top: 27px;
}

.header__menu-toggle {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 2px;
  width: 25px;
  height: 19px;

  background-color: transparent;
  border: none;
  border-radius: 0; /* Убирает скругление углов кнопок по умолчанию в Edge */

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    padding-top: 0;
    margin-right: 3px;
    width: 19px;
  }

  &--no-js {
    display: none;
  }
}

.header__menu-toggle-svg {
  fill: $white;

  &--close {
    display: none;

    fill: #cccccc;
  }
}

.header__menu-toggle--active .header__menu-toggle-svg {
  display: none;

  &--close {
    display: block;
  }
}

.header--fixed .header__menu-toggle-svg {
  fill: #cccccc;
}

.header__user-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    &--index {
      background-color: #182044;
    }

    &--theme-light {
      background-color: $background-color--light;
    }

    &--fixed {
      background-color: $background-color--light;
    }
  }

  .header__container {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .header--inner .header__container {
    padding-top: 40px;
  }

  .header--theme-light .header__container {
    padding-top: 40px;
  }

  .header__menu-toggle {
    display: flex;
    margin-left: 23px;

    &--active {
      margin-right: 1px;
      margin-top: 0;
      width: 18px;
      height: 18px;
    }
  }

  .header__menu-toggle--active .header__menu-toggle-svg {
    &--close {
      width: 18px;
      height: 18px;
    }
  }

  .header__logo {
    margin-top: 1px;
  }

  .header__user-list {
    display: flex;
    padding-bottom: 0;
    width: 188px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &--index {
      background-color: $background-color--dark;
    }

    &--theme-light {
      background-color: $background-color--dark;
    }

    &--fixed {
      background-color: $background-color--light;
    }
  }

  .header__container {
    margin: 0;
    padding-right: 0;
    padding-top: 47px;
    padding-bottom: 0;
    width: 280px;
  }

  .header--inner .header__container {
    padding-top: 47px;
  }

  .header--theme-light .header__container {
    padding-top: 47px;
  }

  .header--fixed .header__container {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .header__logo {
    margin-top: 0;
    margin-right: 36px;
  }

  .header__menu-toggle {
    display: none;
  }

  .header__user-list {
    display: none;
  }

  .header__nav {
    margin: 0;
  }
}
