.letters-list {
  position: relative;

  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 270px;
  width: 220px;

  font-size: 14px;
  line-height: 18px;
  color: $color--dark;
  font-weight: $font-medium;
  letter-spacing: 1.4px;
  text-align: center;
  text-transform: uppercase;

  &--modal {
    padding-bottom: 271px;
  }
}

.letters-list__item {
  display: flex;
  justify-content: center;

  background-color: $background-color--light;
}

.letters-list__letter {
  position: relative;

  margin-right: -1px;
  margin-bottom: -1px;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 45px;
  height: 42px;
  box-sizing: border-box;

  border: 1px solid $blue-cloudy;

  cursor: pointer;

  &:hover {
    z-index: 5;

    border-color: #959bb2;
  }
}

.letters-list__item:nth-child(5n) .letters-list__letter {
  width: 44px;
}

.letters-list__field:checked + .letters-list__letter {
  z-index: 2;

  color: $color--light;

  background-color: $blue;
  border-color: $blue;
}

.letters-list__field:focus + .letters-list__letter {
  outline: 5px auto -webkit-focus-ring-color;
}

.letters-list__regions-list {
  position: absolute;
  top: 219px;
  left: 1px;

  display: none;
  width: 220px;
  height: 250px;

  overflow: auto;
}

.letters-list__field:checked ~ .letters-list__regions-list {
  display: block;
}

.letters-list--modal .letters-list__regions-list {
  top: 205px;
  left: 0;

  padding: 13px 19px;
  width: 100%;
  height: 271px;
  box-sizing: border-box;

  border: 1px solid $border-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.letters-list--modal .letters-list__field:checked + .letters-list__letter {
  color: $color--dark;

  background-color: $background-color;
  border-color: $blue-cloudy;
}

@media (min-width: $tablet-width) {
  .letters-list {
    padding-bottom: 0;
    padding-right: 256px;

    &--list {
      padding-right: 272px;
      width: 346px;

      font-size: 60px;
      line-height: 60px;
    }

    &--modal {
      padding-right: 260px;
      box-sizing: border-box;

      font-size: 20px;
      line-height: 18px;
    }
  }

  .letters-list--list .letters-list__item {
    justify-content: flex-start;
    margin-bottom: 23px;
    width: 77px;

    text-align: left;

    background-color: transparent;
  }

  .letters-list--list .letters-list__letter {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    height: auto;

    color: rgba($color--darkest, 0.2);
    font-weight: $font-bold;

    border: none;

    &:hover {
      color: rgba($color--darkest, 0.7);

      border: none;
    }
  }

  .letters-list--list .letters-list__item:nth-child(5n) {
    width: 38px;
    text-align: right;
  }

  .letters-list--list .letters-list__item:nth-child(n+20) {
    margin-bottom: 0;
  }

  .letters-list--list .letters-list__field:checked + .letters-list__letter {
    color: $color--darkest;

    background-color: transparent;
    border: none;
  }

  .letters-list__regions-list {
    top: -4px;
    left: 444px;

    height: 100%;
  }

  .letters-list--modal .letters-list__letter {
    padding-top: 27px;
    padding-bottom: 23px;
    width: 53px;
    height: 70px;
  }

  .letters-list__item:nth-child(5n) .letters-list__letter {
    width: 53px;
  }

  .letters-list--modal .letters-list__regions-list {
    top: -19px;
    left: 341px;

    width: 155px;
    height: 420px;
    box-sizing: content-box;
    padding: 17px 26px;

    border: none;
  }

  .letters-list--modal .letters-list__field:checked + .letters-list__letter {
    color: $color--light;

    background-color: $blue;
    border-color: $blue;
  }
}

@media (min-width: $desktop-width) {
  .letters-list {
    &--list {
      padding-right: 0;
      width: 100%;
    }

    &--modal {
      padding-right: 235px;
    }
  }

  .letters-list__item:nth-child(5n) .letters-list__letter {
    width: 60px;
  }

  .letters-list--list .letters-list__item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    width: 254px;

    background-color: inherit;

    &:nth-child(2n) {
      width: 253px;
    }

    &:nth-child(3n) {
      width: 251px;
    }

    &:nth-child(4n) {
      width: 247px;
    }

    &:nth-child(5n) {
      width: 205px;
      text-align: left;
    }

    &:nth-child(n+10) {
      margin-bottom: 87px;
    }

    &:nth-child(n+15) {
      margin-bottom: 47px;
    }
  }

  .letters-list--list .letters-list__letter {
    margin-bottom: 30px;

    cursor: default;

    color: $color--darkest;

    &:hover {
      color: $color--darkest;
    }
  }

  .letters-list--list .letters-list__field:focus + .letters-list__letter {
    outline: none;
  }

  .letters-list--list .letters-list__regions-list {
    position: static;

    display: block;
    width: auto;
    height: auto;
  }

  .letters-list--modal .letters-list__item {
    justify-content: center;
    width: 60px;
    margin-bottom: 15px;
    margin-right: 15px;

    &:nth-child(n+10) {
      margin-bottom: 14px;
    }
  }

  .letters-list--modal .letters-list__letter {
    margin-bottom: 0;
    width: 60px;

    border-radius: 4px;
  }

  .letters-list--modal .letters-list__regions-list {
    position: absolute;
    top: -19px;
    left: 462px;

    padding: 17px 26px;
    margin-bottom: 0;
    width: 155px;
    box-sizing: content-box;
  }
}
