.logo {
  display: block;
  width: 100px;

  &--blue,
  &--fixed {
    width: 100px;
    height: 19px;

    background-image: url("../img/logo-mobile-blue@1x.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/logo-mobile-blue@2x.png");
    }
  }
}

.logo__image {
  display: block;
}

.logo--blue .logo__image,
.logo--fixed .logo__image {
  position: relative;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 166px;

    &--blue,
    &--fixed {
      width: 166px;
      height: 42px;
      background-image: url("../img/logo-tablet-blue@1x.png");
      background-position: center left;
      background-size: 166px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-tablet-blue@2x.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 200px;

    &--blue {
      width: 200px;
      height: 52px;
      background: none;
    }

    &--fixed {
      width: 200px;
      height: 52px;
      background-image: url("../img/logo-desktop-blue@1x.png");
      background-size: 200px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/logo-desktop-blue@2x.png");
      }
    }
  }

  .logo--blue .logo__image {
    z-index: 1;
  }
}
