.main-nav {
  padding-top: 50px;
  padding-bottom: 40px;

  background-color: $background-color--light;
}

.main-nav__list {
  margin-bottom: 50px;
}

.main-nav__contacts--icons {
  display: none;
}

.main-nav__contacts {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 75px;
    padding-bottom: 90px;
  }

  .main-nav__list {
    margin-bottom: 150px;
  }

  .main-nav__list--user {
    display: none;
  }

  .main-nav__contacts {
    margin-bottom: 132px;
  }

  .main-nav__socials-list {
    margin-left: 26px;
  }
}

@media (max-width: $mobile-only-width) {
  .main-nav__container {
    padding: 0 25px;
    margin: 0 auto;
    width: 320px;
    box-sizing: border-box;
  }
}

@media (max-width: $tablet-only-width) {
  .main-nav {
    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      top: 71px;
      left: 0;
      z-index: 10;

      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
  .main-nav__container {
    padding: 0 40px;
    padding-left: 96px;
    margin: 0 auto;
    width: $tablet-width;
    box-sizing: border-box;
  }

  .main-nav--opened {
    top: 115px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-right: auto;
    padding: 0;
    padding-top: 47px;
    padding-right: 40px;
    width: 1080px;

    color: $color--light;

    background-color: $background-color--dark;

    &--closed {
      background-color: $background-color--dark;
      color: $color--light;
    }
  }

  .main-nav__container {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .main-nav__list {
    margin-bottom: 0;
  }

  .main-nav__list--user {
    display: flex;
    padding-bottom: 0;
    width: 189px;
  }

  .main-nav__contacts {
    display: none;
  }

  .main-nav__contacts--icons {
    display: flex;
    margin-bottom: 0;
  }

  .main-nav__socials-list {
    display: none;
  }
}
