.main-nav {
  padding-top: 46px;
  padding-bottom: 40px;

  color: $color--darkest;

  background-color: $background-color--light;
}

.main-nav__list {
  margin-bottom: 49px;

  &--user {
    margin-bottom: 52px;
  }
}

.main-nav__contacts--icons {
  display: none;
}

.main-nav__contacts {
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 68px;
    padding-bottom: 90px;
  }

  .main-nav__list {
    margin-bottom: 135px;
  }

  .main-nav__list--user {
    display: none;
  }

  .main-nav__contacts {
    margin-bottom: 130px;
  }

  .main-nav__socials-list {
    margin-left: 26px;
  }
}

@media (max-width: $mobile-only-width) {
  .main-nav__container {
    padding: 0 25px;
    margin: 0 auto;
    width: 320px;
    box-sizing: border-box;
  }
}

@media (max-width: $tablet-only-width) {
  .main-nav {
    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      top: 71px;
      left: 0;
      z-index: 10;

      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
  .main-nav__container {
    padding: 0 40px;
    padding-left: 97px;
    margin: 0 auto;
    width: $tablet-width;
    box-sizing: border-box;
  }

  .main-nav--opened {
    top: 115px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;

    margin-right: auto;
    padding: 0;
    padding-top: 49px;
    padding-right: 40px;
    width: 1080px;

    color: $color--light;

    background-color: $background-color--dark;

    &::before {
      content: "";
      position: absolute;
      top: 74px;
      left: 0;

      width: 60px;
      height: 2px;

      background-color: $background-color--light;
    }

    &--closed {
      color: $color--light;

      background-color: $background-color--dark;
    }

    &--fixed {
      padding-top: 20px;
      padding-bottom: 12px;

      color: $color--darkest;

      background-color: $background-color--light;

      &::before {
        top: 44px;

        background-color: $background-color--darken;
      }
    }
  }

  .main-nav__container {
    display: flex;
    align-items: flex-start;
    padding: 0;
  }

  .main-nav__list {
    margin-bottom: 0;
    margin-top: 8px;
  }

  .main-nav__list--user {
    order: 5;
    display: flex;
    margin-top: 0;
    padding-bottom: 0;
    width: 189px;
  }

  .main-nav__contacts {
    order: 4;
    margin-bottom: 0;
  }

  .main-nav__socials-list {
    display: none;
  }
}
