.menu-list {
  @include reset-list;
  padding-bottom: 25px;
}

.menu-list__item {
  font-size: 30px;
  line-height: 36px;
  color: $link-color--darken;
  font-weight: $font-medium;
  text-align: center;
  text-transform: uppercase;
}

.menu-list__link {
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .menu-list__item {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 98px;
    padding: 0;
    width: 640px;
    min-height: 52px;
  }

  .menu-list__item {
    font-size: 20px;
    line-height: 30px;
  }
}
