.plans {
  padding-top: 25px;
  padding-bottom: 50px;
  min-width: 320px;

  background-color: $pale-grey-darken;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.plans__list {
  @include reset-list;
  margin-bottom: 10px;

  counter-reset: plans;
}

.plans__item {
  padding: 25px;
  padding-left: 24px;
  padding-bottom: 19px;
  padding-top: 24px;
  margin-bottom: 10px;

  background-color: $background-color--light;
  border-radius: 10px;

  counter-increment: plans;

  &:last-child {
    margin-bottom: 0;
  }
}

.plans__direction {
  position: relative;

  padding: 0;
  padding-left: 17px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 16px;
  color: $color--dark;
  font-weight: $font-bold;

  &::before {
    content: counter(plans) ".";
    position: absolute;
    top: 0;
    left: 0;

    font-weight: $font-medium;
    letter-spacing: 1.6px;
  }
}

.plans__companions,
.plans__dates {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  color: $color--dark;
  font-weight: $font-medium;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.plans__companions {
  margin-bottom: 5px;
}

.plans__dates {
  margin-bottom: 20px;
}

.plans__change-link {
  margin-left: 2px;

  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: $font-medium;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .plans {
    padding-top: 46px;
    padding-bottom: 94px;
  }

  .plans__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 27px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
  }

  .plans__direction {
    position: relative;

    width: 100%;
    padding-left: 0;
    padding-bottom: 21px;
    margin-left: 3px;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 50px;

    &::before {
      left: auto;
      right: -5px;
      top: 17px;

      font-size: 20px;
      line-height: 18px;
      letter-spacing: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -36px;

      width: 618px;
      height: 1px;

      background-color: rgba($blue-cloudy, 0.3);
    }
  }

  .plans__dates,
  .plans__companions,
  .plans__change-link {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    margin-bottom: 0;
  }

  .plans__companions {
    margin-right: 34px;
    width: 150px;
  }

  .plans__dates {
    margin-right: 64px;
    width: 182px;
    text-align: center;
  }

  .plans__change-link {
    margin-left: auto;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    padding-top: 45px;
    padding-bottom: 113px;
  }

  .plans__item {
    align-items: baseline;
    padding-left: 43px;
    padding-right: 38px;
    padding-top: 24px;
    padding-bottom: 23px;
    margin-bottom: 15px;
  }

  .plans__direction {
    padding-bottom: 0;
    padding-left: 52px;
    margin-right: 24px;
    margin-left: 0;
    margin-bottom: 0;
    width: 560px;
    box-sizing: border-box;

    &::before {
      right: auto;
      left: 0;
    }

    &::after {
      display: none;
    }
  }

  .plans__companions {
    margin-right: 27px;
  }

  .plans__dates {
    text-align: left;
  }
}
