.price-list {
  @include reset-list;
  position: relative;

  counter-reset: tariff;

  &::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;

    width: 200px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.price-list__item {
  position: relative;

  padding: 14px 0;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 35px;

  counter-increment: tariff;

  &::before {
    content: counter(tariff);
    position: absolute;
    top: 4px;
    right: 1px;

    padding: 11px 4px 7px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;

    line-height: 14px;
    color: $color--light;
    text-align: center;

    background-color: $mango-light;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:nth-child(3n+2) {
    &::before {
      background-color: $mango-lighten;
    }
  }

  &:nth-child(3n+3) {
    padding-bottom: 11px;

    &::before {
      background-color: $gold;
    }
  }

  &--business {
    &::before {
      display: none;
    }
  }
}

.price-list__price {
  display: block;
}

@media (min-width: $tablet-width) {
  .price-list {
    padding: 0;
    padding-top: 44px;
    padding-bottom: 3px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 198px;
      height: calc(100% + 44px);

      background-color: $pale-grey-dark;
      border-radius: 20px;
    }

    &::after {
      left: 92px;
      bottom: -1px;

      width: 562px;
    }
  }

  .price-list__item {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 14px;
    padding-left: 90px;
    padding-right: 34px;

    &::after {
      left: 92px;

      width: 562px;
    }

    &::before {
      top: 0;
      right: auto;
      left: 0;

      padding: 22px 4px 17px;
      width: 67px;
      height: 67px;

      line-height: 28px;
    }

    &--business {
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 0;
      padding-right: 0;

      &::after {
        left: 0;

        width: 506px;
      }
    }
  }

  .price-list__price {
    flex-shrink: 0;
    padding-left: 15px;
    width: 164px;
    box-sizing: border-box;

    text-align: right;
  }

  .price-list__item--business .price-list__price {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .price-list {
    width: 1062px;
    padding-top: 51px;

    &::before {
      width: 444px;
      height: calc(100% + 51px);

      background-color: $pale-grey-dark;
      border-radius: 20px;
    }

    &::after {
      width: 813px;
    }
  }

  .price-list__item {
    padding-right: 159px;
    padding-left: 89px;

    &::before {
      top: 0;
    }

    &::after {
      width: 813px;
    }

    &--business {
      padding-right: 0;

      &::after {
        width: 630px;
      }
    }
  }

  .price-list__price {
    width: 285px;
  }
}
