.profile {
  position: relative;

  padding-top: 24px;
  min-width: 320px;
}

.profile__card {
  margin-bottom: 33px;
}

.profile__container--card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.profile__level {
  margin-bottom: 18px;
  width: 100px;
}

.profile__photo-image {
  margin-bottom: 18px;
  display: block;
  width: 100px;

  border-radius: 50%;
}

.profile__change-foto {
  margin-bottom: 4px;
  width: 100%;
}

.profile__change-button {
  display: block;

  background-color: $pale-grey-darken;

  &:hover,
  &focus,
  &:active {
    background-color: #d1d7e9;
  }
}

.profile__hashtags {
  position: relative;
  margin-bottom: 0;
}

.profile__transport {
  margin-top: -4px;
}

.profile__fieldset {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 18px;
  padding-left: 17px;
  margin: 0;
  width: 270px;
  box-sizing: border-box;

  border: 1px solid $border-color;
  border-radius: 10px;

  &--hashtags {
    padding: 25px;
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 21px;
    display: block;

    font: inherit;
    color: $color--base;
    font-weight: $font-normal;

    background-color: inherit;

    resize: none; /* Убирает уголок ресайза */

    &:hover {
      border-color: #aeb4cb;
    }

    &:focus {
      border-color: $blue-dark;
      outline: none;
    }

    &::placeholder {
      color: rgba($color--base, 0.6);
    }
  }
}

.profile__legend {
  position: relative;
  z-index: 2;

  display: inline-block;
  padding: 4px 14px;
  padding-top: 7px;
  margin: 0;
  margin-left: 50%;
  min-width: 70px;
  box-sizing: border-box;

  line-height: 18px;
  color: $color--dark;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;

  background-color: $background-color;

  transform: translate(-50%, 15px);
}

.profile__title {
  padding: 0;
  padding-top: 4px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 24px;
  color: $color--dark;
  font-weight: $font-bold;
}

.profile__indicator-text {
  display: none;
}

.profile__new-plan {
  padding-top: 26px;
  padding-bottom: 74px;
  margin-top: -30px;

  background-color: $blue-light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.profile__new-plan .profile__container {
  display: flex;
  flex-wrap: wrap;
}

.profile__new-plan .profile__title {
  width: 187px;
}

.profile__steps-indication {
  display: none;

  &--global {
    display: flex;
    justify-content: space-between;
    width: 83px;
    padding: 0 18px;
    padding-top: 13px;
    box-sizing: border-box;
  }
}

.profile__indicator {
  display: block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;

  background-color: rgba(#808285, 0.3);
  border: none;
  border-radius: 50%;

  &--active {
    background-color: $blue;
  }
}

.profile__steps {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .profile {
    padding-top: 0;
  }

  .profile__container {
    padding-left: 75px;
    padding-right: 75px;

    &--card {
      padding-top: 64px;
      margin-bottom: 17px;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .profile__card {
    margin-bottom: 17px;
  }

  .profile__level {
    margin-bottom: 20px;
    width: 94px;
    height: 94px;
  }

  .profile__photo-image {
    order: 3;

    width: 94px;
    border-radius: 5px;
  }

  .profile__change-foto {
    order: 4;
    margin-bottom: 51px;
  }

  .profile__change-button {
    padding-top: 22px;
    padding-bottom: 20px;
    color: $color--dark;
    line-height: 18px;
    font-weight: $font-medium;
    letter-spacing: 2px;

    border-radius: 10px;
  }

  .profile__hashtags,
  .profile__transport {
    display: flex;
    flex-direction: column;
  }

  .profile__transport {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .profile__hashtags {
    order: 5;
    width: 618px;
  }

  .profile__fieldset {
    width: 308px;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 14px;

    &--hashtags {
      width: 618px;
      padding: 34px 39px;
      padding-bottom: 10px;

      font-size: 20px;
      line-height: 24px;

      white-space: nowrap;

      overflow: auto;
      text-overflow: ellipsis;
    }
  }

  .profile__legend {
    order: 2;
    display: block;
    padding: 13px 20px 12px;

    font-size: 20px;
    font-weight: $font-medium;
    letter-spacing: 2px;

    transform: translate(-51%, -21px);

    &--label {
      width: 83px;

      transform: translate(-54%, -20px);
    }
  }

  .profile__title {
    margin-bottom: 41px;

    font-size: 36px;
    line-height: 50px;
  }

  .profile__new-plan {
    padding-top: 45px;
    padding-bottom: 122px;
  }

  .profile__new-plan .profile__container {
    justify-content: space-between;
  }

  .profile__new-plan .profile__title {
    margin-bottom: 49px;
    width: 400px;
  }

  .profile__steps-indication--global {
    padding: 0;
    padding-top: 25px;
    width: 73px;
  }
}

@media (min-width: $desktop-width) {
  .profile__card {
    margin-bottom: 22px;
  }

  .profile__plans,
  .profile__new-plan {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .profile__new-plan {
    padding-bottom: 132px;
    margin-top: -60px;
  }

  .profile__container {
    padding-left: 104px;
    padding-right: 40px;

    &--card {
      padding-top: 73px;
    }
  }

  .profile__transport {
    margin-right: 0;
    margin-bottom: 0;
  }

  .profile__legend {
    transform: translate(-49%, -21px);

    &--label {
      margin-left: 64px;

      transform: translate(-54%, -20px);
    }
  }

  .profile__new-plan .profile__container {
    padding-left: 40px;
  }

  .profile__photo-image,
  .profile__level {
    position: absolute;
    z-index: 10;
    top: -147px;
    right: 390px;

    width: 94px;
    height: 94px;
  }

  .profile__photo-image {
    position: absolute;
    z-index: 10;
    top: -190px;
    right: 155px;

    width: 190px;
    height: 190px;

    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .profile__change-foto {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 155px;

    width: 190px;
    height: 47px;
  }

  .profile__change-button {
    padding-top: 16px;
    padding-bottom: 13px;
    line-height: 18px;
    color: $link-color;
    font-weight: 500;
    letter-spacing: 2px;

    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .profile__change-desc {
    display: none;
  }

  .profile__hashtags {
    order: 0;
    margin-bottom: 0;
    width: 730px;
  }

  .profile__fieldset {
    padding-left: 22px;
    width: 384px;

    &--hashtags {
      padding-left: 39px;
      width: 730px;
    }
  }

  .profile__plans .profile__title {
    margin-left: 7px;
  }

  .profile__new-plan .profile__title {
    margin-left: 70px;
  }

  .profile__indicator-text {
    display: block;
  }

  .profile__steps-indication {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    width: 180px;

    &--global {
      display: none;
    }
  }

  .profile__indicator {
    position: relative;

    display: block;
    padding-left: 41px;
    margin-bottom: 30px;
    width: auto;
    height: auto;

    font-size: 20px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: inherit;
    border-radius: 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      margin-top: -3px;
      width: 5px;
      height: 5px;

      background-color: rgba(#808285, 0.3);
      border-radius: 50%;
    }

    &:not(.profile__indicator--active):hover,
    &:not(.profile__indicator--active):focus {
      color: rgba(0, 0, 0, 1);

      &::before {
        background-color: rgba(#808285, 0.7);
      }
    }

    &:not(.profile__indicator--active):active {
      color: rgba(0, 0, 0, 0.3);

      &::before {
        background-color: rgba(#808285, 0.1);
      }
    }

    &--active {
      color: $color--dark;

      cursor: default;

      &::before {
        background-color: $blue;
      }
    }
  }
}
