.regions-list {
  @include reset-list;
}

.regions-list__item {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
}

.regions-list__link {
  color: $color--base;
  font-weight: $font-normal;
  text-transform: none;

  &:hover,
  &:focus {
    color: $link-color;
  }

  &:active {
    color: $link-color--active;
  }
}

@media (min-width: $tablet-width) {
  .regions-list__item {
    font-size: 20px;
    line-height: 30px;
  }
}
