.registration {
  margin-top: -30px;
  min-width: 320px;

  color: $color--light;
  text-align: center;

  background-color: $background-color--darken;
}

.registration__container {
  padding-top: 100px;
  padding-bottom: 20px;
}

.registration__discription {
  width: 200px;
}

.registration__login-link {
  color: $link-color--light;

  &:hover,
  &:focus {
    color: $mango;
  }

  &:active {
    color: rgba($mango, 0.3);
  }
}

.registration__form {
  display: flex;
  padding: 12px 0;
}

.registration__field {
  padding: 22px 24px;
  padding-right: 72px;
  width: 100%;
  height: 62px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: $color--base;
  font-weight: $font-bold;
  text-align: left;

  background-color: $input-background;
  border: 4px solid transparent;
  border-radius: 10px;

  &::placeholder {
    color: $input-color--placeholder;
  }

  &:hover {
    background-color: $background-color;

    &::placeholder {
      color: rgba($color--base, 0.5);
    }
  }

  &:focus {
    color: $color--light;

    background-color: transparent;
    border-color: $white;
  }

  &--invalid {
    color: $input-color--error;
    background-color: $input-background--error;
  }
}

.registration__button {
  justify-content: center;
  margin-left: -60px;
  padding: 0;
  width: 60px;
  height: 62px;

  border-radius: 10px;
}

.registration__button-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .registration {
    margin-top: -60px;
  }

  .registration__container {
    padding-top: 135px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .registration__title {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .registration__discription {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
  }

  .registration__form {
    margin-bottom: 28px;
  }

  .registration__field {
    padding: 30px 35px 27px;
    padding-right: 92px;
    height: 81px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  .registration__button {
    margin-left: -82px;
    width: 82px;
    height: 81px;

    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: $desktop-width) {
  .registration__container {
    padding-top: 165px;
    padding-left: 112px;
    padding-right: 114px;
  }

  .registration__discription {
    width: 610px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .registration__form {
    margin-bottom: 58px;
  }

  .registration__button {
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 36px;
    width: 324px;
    box-sizing: border-box;

    font-size: 24px;
    text-transform: none;
  }

  .registration__button-text {
    display: block;
  }
}
