.regions-list {
  @include reset-list;
}

.regions-list__item {
  text-align: left;
}

.regions-list__link {
  font-size: 16px;
  line-height: 22px;
  color: $color--base;
  font-weight: $font-normal;
  text-transform: none;

  &:hover,
  &:focus {
    color: $link-color;
  }

  &:active {
    color: $link-color--active;
  }
}
