.steps {
  @include reset-list;
}

.steps__item {
  padding: 24px 20px 17px;
  margin-bottom: 10px;

  background-color: $background-color--light;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__title {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  margin-left: 5px;

  font-size: 20px;
  line-height: 20px;
  color: $color--dark;
  font-weight: $font-bold;
}

.steps__number,
.steps__name {
  display: block;
}

.steps__discription {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 22px;
}

.steps__fieldset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  margin: 0 5px;
  margin-bottom: 21px;

  border: 0;
}

.steps__label {
  margin-bottom: 8px;

  line-height: 16px;
  color: $color--dark;
  font-weight: $font-medium;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  &--checkbox {
    padding-left: 39px;

    font-size: 15px;
    line-height: 15px;
    color: $color--base;
    font-weight: $font-normal;
    letter-spacing: normal;
    text-transform: none;
  }
}

.steps__units {
  color: rgba($color--dark, 0.3);
}

.steps__field {
  position: relative;
  width: 100%;
}

.steps__input {
  width: 100%;
  height: 43px;
  padding: 16px 28px 10px;
  box-sizing: border-box;

  font: inherit;
  font-size: 15px;
  line-height: 13.5px;
  color: $input-color;
  font-weight: $font-medium;
  letter-spacing: 1.5px;
  text-align: center;

  border: 1px solid $input-border-color;
  border-radius: 4px;

  appearance: textfield;

  &:hover {
    border-color: #959bb2;
  }

  &:focus {
    border-color: $blue-dark;
    outline: none;
  }
}

.steps__input::-webkit-outer-spin-button,
.steps__input::-webkit-inner-spin-button {
  appearance: none;
}

.steps__control {
  position: absolute;
  top: 50%;

  margin-top: -7px;
  width: 14px;
  height: 14px;

  border: none;
  background-color: rgba(255, 0, 0, 0.3);

  &--minus {
    left: 14px;
  }

  &--plus {
    right: 14px;
  }
}

.steps__calendar {
  margin: 0 5px;
  margin-bottom: 22px;
}

.steps__next-step,
.steps__button {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.steps__prev-step {
  display: block;
  padding-top: 14px;

  font-size: 17px;
  line-height: 30px;
  color: $link-color--dark;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    color: rgba($link-color--dark, 0.7);
  }

  &:active {
    color: rgba($link-color--dark, 0.3);
  }
}

.steps__route {
  @include reset-list;
  margin: 0 5px;
  margin-bottom: 25px;
}

.steps__route-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.steps__select {
  width: calc(100% - 53px);
  height: 42px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 30px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: $input-color;
  font-weight: $font-medium;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  background-color: inherit;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  appearance: none;

  &:hover {
    border-color: $blue-cloudy;
  }
}

.steps__destination--clean .steps__select {
  width: 100%;
}

.steps__select-modal {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 20px 50px 0 $box-shadow-color;
}

.steps__letters-list {
  width: 100%;
}

.steps__button-add {
  width: 100%;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 57px;

  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: $input-color;
  font-weight: $font-medium;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: left;

  background-color: $background-color;
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $pale-grey-darken;
  }

  &:active {
    color: rgba($input-color, 0.3);
    background-color: $pale-grey-darken;
  }
}

.steps__travel-plan {
  @include reset-list;
  margin: 0 5px;
  margin-bottom: 22px;
}

.steps__country-plan {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  &--error {
    position: relative;

    border-color: #f47e7e;

    &::after {
      content: "Это поле должно быть заполнено";
      position: absolute;
      bottom: 1px;
      left: 1px;

      display: inline-block;

      width: calc(100% - 2px);
      min-height: 57px;
      padding: 13px 15px;
      box-sizing: border-box;

      color: $input-color--error;

      background-color: $input-background--error;
      border-radius: 4px;
    }
  }
}

.steps__country-name {
  display: inline-block;
  padding: 4px 0 2px;
  padding-right: 46px;
  margin-bottom: 14px;


  font-size: 18px;
  line-height: 18px;
  color: $color--dark;
  font-weight: $font-medium;
}

.steps__plan-discription {
  display: block;
  padding: 13px 15px;
  width: 100%;
  min-height: 220px;
  box-sizing: border-box;

  font: inherit;
  color: $color--base;
  font-weight: $font-normal;

  border: 1px solid $input-border-color;
  border-radius: 4px;

  resize: none; /* Убирает уголок ресайза */

  &:hover {
    border-color: #959bb2;
  }

  &:focus {
    border-color: $blue-dark;
    outline: none;
  }

  &::placeholder {
    color: rgba($color--base, 0.3);
  }

  &--error {
    border-color: #f47e7e;
  }
}

@media (min-width: $tablet-width) {
  .steps__item {
    padding-top: 48px;
    padding-bottom: 50px;
    padding-left: 43px;
    padding-right: 42px;
    margin-bottom: 40px;
  }

  .steps__title {
    margin-left: 0;
  }

  .steps__discription {
    margin-left: 0;
    margin-right: 0;
  }

  .steps__wrapper {
    display: flex;
    flex-direction: column;
  }

  .steps__fieldset {
    margin: 0 1px;
    margin-bottom: 25px;

    &--last {
      order: 2;
    }
  }

  .steps__calendar {
    margin-left: 1px;
    margin-right: 2px;
  }

  .steps__nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .steps__next-step,
  .steps__button {
    width: 285px;
  }

  .steps__route {
    margin-left: 0;
    margin-right: 0;
  }

  .steps__select,
  .steps__button-add,
  .steps__destination--clean .steps__select {
    width: 369px;
  }

  .steps__select-modal {
    width: 575px;
  }

  .steps__travel-plan {
    margin-left: 2px;
    margin-right: 0;
  }

  .steps__plan-discription {
    width: 499px;
    min-height: 142px;
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    padding: 100px 160px;
    margin-bottom: 45px;
  }

  .steps__header {
    display: flex;
  }

  .steps__heading {
    width: 580px;
    margin-right: 196px;
  }

  .steps__number,
  .steps__name {
    display: inline-block;
  }

  .steps__discription {
    width: 576px;
  }

  .steps__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .steps__fieldset {
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
    align-items: baseline;
    width: 490px;

    &--checkbox {
      margin-right: 3px;
      width: 260px;
      justify-content: flex-end;
      text-align: right;
    }
  }

  .steps__label {
    width: 190px;
    margin-right: 30px;
  }

  .steps__field {
    width: 181px;
    margin-right: 36px;
  }

  .steps__units {
    order: 2;
  }

  .steps__calendar {
    margin-left: 0;
    margin-right: 0;
  }

  .steps__nav {
    margin-right: 3px;
  }

  .steps__select,
  .steps__button-add,
  .steps__destination--clean .steps__select {
    width: 730px;
  }

  .steps__select-modal {
    width: 730px;
  }

  .steps__travel-plan {
    margin-left: 0;
  }

  .steps__plan-discription {
    width: 730px;
  }
}
