.traveler {
  position: relative;

  width: 270px;

  color: $color--base;
  text-align: center;

  background-color: $background-color--light;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 6px 21px 0 $box-shadow-color--dark;
  }

  &--info {
    padding: 15px 18px;
    box-sizing: border-box;

    font-size: 15px;
    line-height: 18px;
    font-weight: $font-normal;
    text-align: left;

    border-radius: 20px;
  }
}

.traveler__photo {
  display: block;
  overflow: hidden;
  mask-image: radial-gradient(white, black); /* Решает проблему выпадения изображения при наведении из контейнера в Safari */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.traveler__photo-image {
  display: block;

  transition: all 300ms ease;
}

.traveler:hover .traveler__photo-image {
  transform: scale(1.1);
}

.traveler__about {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 22px;
}

.traveler__name {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  margin-right: 16px;

  font-size: 21px;
  line-height: 21px;
  color: $link-color;
  font-weight: $font-bold;
}

.traveler__link {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover-dark;
  }

  &:active {
    color: $link-color--active;
  }
}

.traveler__indicator {
  order: -1;

  display: block;
  margin-right: 11px;
  width: 5px;
  height: 5px;

  background-color: #81e31e;
  border-radius: 50%;

  &--not-available {
    background-color: #f97676;
  }
}

.traveler__countries {
  order: -1;
  margin-top: -37px;
  margin-bottom: 7px;
}

.traveler__hashtags {
  margin: 0 auto;
  margin-bottom: 10px;
}

.traveler__likes {
  position: absolute;
  top: 56px;
  left: 66px;

  display: flex;
  align-items: center;
  padding: 5px 0;

  font-size: 14px;
  line-height: 21px;
  color: $color--darken;
  font-weight: $font-bold;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 0; /* Убирает скругление углов кнопок по умолчанию в Edge */

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 1px;

    width: 31px;
    height: 31px;

    background-color: $background-color;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $pale-grey-dark;
    }
  }

  &:active {
    &::before {
      background-color: $pale-grey-dark;
    }
  }

  &--active {
    &::before {
      background-color: #f9eaea;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: #f9d8d8;
      }
    }

    &:active {
      &::before {
        background-color: #f9d8d8;
      }
    }
  }
}

.traveler__likes-svg {
  position: relative;
  z-index: 1;

  padding: 4px 10px;
  padding-top: 1px;
  margin-right: 5px;

  fill: #192144;
  opacity: 0.3;
}

.traveler__likes:hover .traveler__likes-svg,
.traveler__likes:focus .traveler__likes-svg {
  opacity: 0.5;
}

.traveler__likes:active .traveler__likes-svg {
  opacity: 0.1;
}

.traveler__likes--active .traveler__likes-svg {
  opacity: 1;
  fill: #f02323;
}

.traveler__likes--active:hover .traveler__likes-svg,
.traveler__likes--active:focus .traveler__likes-svg {
  opacity: 1;
}

.traveler__likes--active:active .traveler__likes-svg {
  opacity: 0.3;
}

/* Стили для корректного отображения кнопок в состоянии active в IE */

.traveler__likes:active span,
.traveler__likes:active svg {
  position: relative;
  top: 0;
  left: 0;
}

.traveler__block-title {
  position: relative;
  z-index: 2;

  padding-left: 8px;
  padding-right: 11px;

  background-color: $background-color--light;
}

.traveler__call {
  position: absolute;
  bottom: 15px;
  left: 0;

  margin: 0 20px;
  margin-bottom: 7px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.traveler--info .traveler__photo {
  float: left;

  margin-bottom: 15px;
  margin-right: 16px;
  width: 70px;

  border-radius: 50%;
}

.traveler--info .traveler__name {
  justify-content: space-between;
  align-items: flex-start;

  font-size: 20px;
  line-height: 20px;
  margin-bottom: 45px;
  margin-right: 0;
}

.traveler--info .traveler__link {
  max-width: 105px;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }
}

.traveler--info .traveler__indicator {
  order: 0;

  margin-right: 4px;
  margin-top: 8px;
  margin-left: 10px;
  width: 6px;
  height: 6px;
}

.traveler--info .traveler__hashtags {
  margin: 0;
  margin-bottom: 13px;
  margin-left: 8px;
}

.traveler--info .traveler__countries {
  margin-bottom: 11px;
  margin-top: 0;
  min-height: 87px;
}

.traveler--info .traveler__transport {
  margin-left: 0;
}

.traveler--info .traveler__columns {
  display: flex;
  align-items: flex-start;
  margin-bottom: 56px;
}

.traveler--info .traveler__level {
  width: 64px;
}

.traveler--long .traveler__countries {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .traveler {
    width: 285px;

    border-radius: 20px;

    &--info {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      padding-top: 33px;
      padding-bottom: 20px;
      padding-left: 35px;
      padding-right: 25px;
      width: 688px;
      box-sizing: border-box;
    }
  }

  .traveler__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .traveler__photo-image {
    width: 285px;
  }

  .traveler__about {
    padding: 29px;
    padding-top: 25px;
  }

  .traveler__countries {
    margin-bottom: 9px;
  }

  .traveler__name {
    margin-bottom: 21px;
    margin-right: 22px;

    font-size: 24px;
    line-height: 24px;
  }


  .traveler__indicator {
    margin-top: -1px;
    margin-right: 15px;
    width: 7px;
    height: 7px;
  }

  .traveler__hashtags {
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 24px;
  }

  .traveler--info .traveler__photo {
    margin-right: 30px;
    margin-bottom: 22px;
    margin-top: 2px;
    width: 190px;

    border-radius: 15px;
  }

  .traveler--info .traveler__name {
    justify-content: flex-start;

    margin-bottom: 18px;
    margin-left: 3px;

    font-size: 30px;
    line-height: 30px;
  }

  .traveler--info .traveler__link {
    max-width: 300px;
  }

  .traveler--info .traveler__indicator {
    margin-top: 11px;
    margin-left: 23px;
    width: 7px;
    height: 7px;
  }

  .traveler--info .traveler__hashtags {
    margin-bottom: 45px;
    margin-left: 6px;
  }

  .traveler__block-title {
    padding-left: 12px;
  }

  .traveler--info .traveler__countries {
    order: 5;
    margin-bottom: 0;
    width: 100%;
    min-height: auto;
  }

  .traveler--info .traveler__columns {
    order: 4;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 0;
  }

  .traveler--info .traveler__transport {
    margin-top: 5px;
    margin-bottom: 13px;
  }

  .traveler--info .traveler__level {
    width: 60px;
  }

  .traveler--info .traveler__wrapper {
    display: flex;
  }

  .traveler--info .traveler__call {
    position: static;

    display: block;
    margin: 0;
    width: 148px;
  }

  .traveler--info .traveler__likes {
    position: relative;
    top: auto;
    left: auto;

    padding: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    width: 132px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      bottom: 0;
      left: 0;

      width: 50px;
      height: 50px;
    }
  }

  .traveler__likes-svg {
    padding: 6px 15px;
    padding-top: 5px;
    margin-right: 7px;
    width: 20px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .traveler__countries {
    margin-bottom: 11px;
  }

  .traveler__name {
    margin-bottom: 19px;
  }

  .traveler__hashtags {
    margin-bottom: 24px;
  }

  .traveler--info {
    padding: 0;
    width: 950px;
  }

  .traveler--info .traveler__photo {
    width: 285px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 34px;

    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .traveler--info .traveler__desc {
    position: relative;

    padding-right: 53px;
    margin-top: 47px;
    width: 355px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 43px;

      width: 1px;
      height: 187px;

      background-image: url("../img/divider.png");
      background-repeat: no-repeat;
    }
  }

  .traveler--info .traveler__name {
    margin-left: 0;
  }

  .traveler--info .traveler__link {
    max-width: 300px;
  }

  .traveler--info .traveler__indicator {
    order: -1;
    margin-left: 0;
    margin-right: 18px;
  }

  .traveler--info .traveler__hashtags {
    margin-left: 28px;
  }

  .traveler--info .traveler__call {
    margin-left: 22px;
  }

  .traveler--info .traveler__countries {
    order: 4;
    padding-bottom: 96px;
    padding-right: 20px;
    margin-top: 49px;
    width: 276px;
    min-height: 198px;
    box-sizing: border-box;
  }

  .traveler--info .traveler__columns {
    flex-direction: row;
    align-items: center;
    order: 5;
    margin-top: -102px;
    width: 276px;
  }

  .traveler--info .traveler__transport {
    margin-bottom: 0;
    margin-top: 0;
  }
}
