.travelers {
  min-width: 320px;

  color: $color--light;

  background-color: $background-color--darken;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.travelers__container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 67px;
  padding-bottom: 92px;

  background-image: url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top 39px left 152px, top 311px left -10px;
  background-size: 143px auto, 71px auto;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: -19px;
    z-index: -1;

    width: 132px;
    height: 132px;

    border-radius: 20px;
    background-color: #141b3b;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"),
      url("../img/rogovaya-back-mobile@2x.png");
  }
}

.travelers__description {
  margin-bottom: 21px;
}

.travelers__list {
  @include reset-list;
  margin-top: 35px;
  margin-bottom: 20px;
}

.travelers__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.travelers__button {
  position: absolute;
  bottom: 30px;
  right: 50%;

  display: flex;
  margin: 0;
  margin-bottom: 0;
  width: 270px;

  transform: translateX(50%);
}

@media (min-width: $tablet-width) {
  .travelers {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .travelers__container {
    padding-top: 136px;
    padding-bottom: 169px;
    padding-left: 75px;
    padding-right: 75px;

    background-image: url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-size: 143px, 285px;
    background-position: top 426px left 40px, top 80px right 75px;

    &::before {
      top: 80px;
      left: 40px;

      width: 213px;
      height: 213px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  .travelers__title {
    margin-left: -2px;
    margin-bottom: 57px;
  }

  .travelers__description {
    margin-bottom: 39px;

    &--bold {
      margin-bottom: 43px;
    }
  }

  .travelers__list {
    margin-top: 15px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .travelers__item {
    display: flex;
    margin-bottom: 20px;
    margin-right: 48px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .travelers__button {
    bottom: 88px;

    width: 618px;
  }
}

@media (min-width: $desktop-width) {
  .travelers__container {
    flex-direction: row;

    padding-top: 124px;
    padding-bottom: 134px;
    padding-left: 111px;
    padding-right: 40px;

    background-position: top 133px left 527px, top 385px left 171px;

    &::before {
      top: 68px;
      left: 40px;
    }
  }

  .travelers__title {
    width: 210px;
  }

  .travelers__description {
    width: 430px;

    &--bold {
      margin-bottom: 83px;
      width: 260px;
    }
  }

  .travelers__button {
    position: static;

    padding-left: 33px;
    margin: 0;
    width: 280px;

    transform: translateX(0);
  }

  .travelers__list {
    margin-top: 9px;
    margin-left: auto;
    margin-bottom: 0;
    width: 630px;
  }

  .travelers__item {
    margin-right: 60px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
