.using-list {
  @include reset-list;
}

.using-list__item {
  padding: 22px 25px;
  padding-right: 100px;

  font-size: 18px;
  line-height: 18px;
  color: $color--darken;
  font-weight: $font-bold;

  background-color: $mango;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &:nth-child(2n) {
    background-color: $mango-light;
  }

  &:nth-child(3n) {
    background-color: $mango-lighten;
  }

  &:nth-child(4n) {
    background-color: $gold;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .using-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .using-list__item {
    width: 344px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .using-list__item {
    width: 315px;
    box-sizing: border-box;

    &:nth-child(2n),
    &:nth-child(3n) {
      width: 345px;
    }

    &:nth-child(4n) {
      width: 315px;
    }
  }
}
