body {
  padding: 0;
  margin: 0;

  font-family: $standard-font;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $color--base;
  font-weight: $font-light;

  background-color: $background-color;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  body {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
  }
}
